@model IEnumerable<sampleproject.Models.Department>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().name)</th>
            <th>@Html.DisplayNameFor(model => model.First().phoneNumber)</th>
            <th>@Html.DisplayNameFor(model => model.First().age)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.name)</td>
                <td>@Html.DisplayFor(modelItem => item.phoneNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.age)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.id" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
